@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: #b7c0ed;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 30px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 22px;
}

nav a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

main {
    background-color: #FFFFFF;
    width: 940px;
    margin: 0 auto;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 50px;
}

.produtos li:hover {
    color:#b7c0ed;
}

.produtos li:active {
    border-color: #FFFFFF;
}

.produtos li:hover h2 {
    font-size: 30px;
    color:#b7c0ed;
}

.produtos h2 {
    font-size: 20px;
    font-weight: bold;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.produto-descricao {
    font-size: 18px;
    margin: 10px;
}

footer {
    background: url("assets/bg.jpg");
    text-align: center;
    padding: 40px 0;
    color: #FFFFFF;
    font-size: 13px;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin:0 0 10px;
}

input {
    margin-right: 10px;
}
.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: #b7c0ed;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: #45539c;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #45539c;
    color: white;
    font-weight: bold;
}

td, th {
    border: 2px solid #45539c;
    padding: 15px 10px;
}