body {
    background-color: #b7c0ed;
}

#banner {
    width: 100%;
    border-radius: 20px;
}

h1 {
    color: #2c3d94;
    text-align: center;
    margin: 40px;
 }

 p {
    color: #FFFFFF;
    text-align: center;
 }

#mission {
    font-size: 20px;
}

 em strong {
    color: #2c3d94;
 }

.itens {
    font-style: italic;
    text-indent: -0.7rem;
    list-style-type: none;
 }

 li::before {
    font-style: normal;
    list-style-type: none;
    content: "💈 ";
  }