body {
    background-color: #b7c0ed;
}

h1 {
    color: #2c3d94;
    text-align: center;
 }

 p {
    color: #FFFFFF;
    text-align: center;
 }

#mission {
    font-size: 20px;
}

 em strong {
    color: #2c3d94;
 }